workflows/customer-service-chatbot-demo.json
{
  "name": "After Class AI - Customer Service Chatbot Demo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "after-class-support-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "support-chat-webhook",
      "name": "Support Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 300],
      "webhookId": "after-class-support-chat"
    },
    {
      "parameters": {
        "jsCode": "const input = $json.body || $json;\nconst message = String(input.message || '').toLowerCase();\n\n// STUDENT EDIT AREA:\n// Add or change canned replies below.\nconst replies = [\n  {\n    keywords: ['refund', 'החזר', 'כסף'],\n    intent: 'refund',\n    answer: 'אפשר לבקש החזר עד 14 יום ממועד הרכישה. נציג יחזור אליך עם אישור.'\n  },\n  {\n    keywords: ['shipping', 'delivery', 'משלוח', 'אספקה'],\n    intent: 'shipping',\n    answer: 'זמן משלוח רגיל הוא 3 עד 5 ימי עסקים. אפשר לבדוק סטטוס לפי מספר הזמנה.'\n  },\n  {\n    keywords: ['price', 'cost', 'מחיר', 'עלות'],\n    intent: 'pricing',\n    answer: 'המחיר תלוי במסלול. אפשר להשאיר פרטים ונציג יתאים הצעה.'\n  },\n  {\n    keywords: ['human', 'agent', 'נציג', 'אדם'],\n    intent: 'human_agent',\n    answer: 'אני מעביר את הפנייה לנציג שירות אנושי. זמן תגובה משוער: עד שעה.'\n  }\n];\n\nconst match = replies.find((reply) => reply.keywords.some((keyword) => message.includes(keyword)));\nconst selected = match || {\n  intent: 'general',\n  answer: 'תודה על הפנייה. חסרים לי פרטים כדי לענות במדויק. אפשר לציין מספר הזמנה או נושא?'\n};\n\nreturn [{\n  json: {\n    customer_name: input.name || 'לקוח/ה',\n    original_message: input.message || '',\n    detected_intent: selected.intent,\n    reply: selected.answer,\n    demo_note: 'תשובה מובנית לדמו בלבד',\n    next_student_task: 'נסו להוסיף מילת מפתח ותשובה חדשה באזור העריכה.'\n  }\n}];"
      },
      "id": "student-edit-area",
      "name": "Student Edit Area - Canned Replies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "return-chatbot-answer",
      "name": "Return Chatbot Answer",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [820, 300]
    }
  ],
  "connections": {
    "Support Chat Webhook": {
      "main": [
        [
          {
            "node": "Student Edit Area - Canned Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Student Edit Area - Canned Replies": {
      "main": [
        [
          {
            "node": "Return Chatbot Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
